:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-inputs {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    text-align: center;
}

.canvas-grid {
    display: grid;
    margin-top: 2em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    min-width: 500px;
    min-height: 500px;
    background-color: white;
    border: 1px solid gray;
  }
  
.square {
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

.fill {
    background-color: black;
    transition: background-color 0.2s linear;
}